@model IEnumerable<HardwareStore.Models.Client>

@{
    ViewData["Title"] = "Index";
    ViewData["TitlePage"] = "Listado de Clientes";
}
<section class="bg-white container p-4 rounded-2 ">
    <div class="d-flex justify-content-end mx-5">
        <a class="btn btn-success mb-2" asp-action="Create" asp-controller="Client">Agregar Cliente <i class="lni lni-add-files"></i></a>
    </div>
    @if (TempData["message"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["message"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <table class="table table-reponsive table-bordered table-striped mt-2 w-100" id="clientTable">
        <thead class="text-center bg-secondary text-white">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td class="text-center">
                        <a asp-controller="Client"
                           asp-action="Edit"
                           asp-route-id="@item.Id"
                           class="btn btn-warning">
                            <i class="lni lni-pencil-alt"></i>
                        </a>
                        <a asp-controller="Client"
                           asp-action="Delete"
                           asp-route-id="@item.Id"
                           class="btn btn-danger">
                            <i class="lni lni-trash-can"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</section>


@section Scripts {
    <script>
        $(document).ready(function () {
            $("#clientTable").DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                dom: "Bfrtip",
                buttons: [
                    {
                        extend: 'csv',
                        className: 'bg-info border-0 text-white',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6]
                        }
                    },
                    {
                        extend: 'pdf',
                        className: 'bg-danger border-0 text-white',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6]
                        }
                    },
                    {
                        extend: 'excel',
                        className: 'bg-success border-0 text-white',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5, 6]
                        }
                    }
                ],
                columnDefs: [
                    {
                        target: 7,
                        orderable: false,
                        searchable: false
                    }
                ]
            })
        })
    </script>

    <!-- funcion para mostar los alert -->
    <script>
        function showToast(message, gradientColors) {
            Toastify({
                text: message,
                duration: 3000,
                newWindow: true,
                close: true,
                gravity: "top",
                position: "right",
                stopOnFocus: true,
                style: {
                    background: "linear-gradient(to right, " + gradientColors + ")"
                }
            }).showToast();
        }
    </script>

    @if (TempData["addClient"] != null)
    {
        <script>
            showToast("Se agrego correctamente el Cliente", "#6ED725, #274412");
        </script>
    }

    @if (TempData["editClient"] != null)
    {
        <script>
            showToast("Se edito correctamente el Cliente", "#00b09b, #96c93d");
        </script>
    }

    @if (TempData["deleteClient"] != null)
    {
        <script>
            showToast("Se Elimino correctamente el Cliente", "#ff5500, #ff0000");
        </script>
    }


}

