@model IEnumerable<Sale>

@{
    ViewData["Title"] = "Index";
    ViewData["TitlePage"] = "Listado de Ventas";
}

<section class="bg-white container p-4 rounded-2 ">
    <div class="d-flex justify-content-end mx-5">
        <a class="btn btn-success" asp-action="Create">Nueva Venta <i class="lni lni-add-files"></i></a>
    </div>
    <table class="table table-responsive table-bordered table-striped mt-2" id="saleTable">
        <thead class="text-center text-white bg-secondary">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    Cliente
                </th>
                <th>
                    Empleado
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SaleDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Total)
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SaleDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Total)
                    </td>
                    <td class="text-center">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning">Detalle</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#saleTable").DataTable({
                language: {
                    "decimal": "",
                    "emptyTable": "No hay información",
                    "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                    "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                    "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "Mostrar _MENU_ Entradas",
                    "loadingRecords": "Cargando...",
                    "processing": "Procesando...",
                    "search": "Buscar:",
                    "zeroRecords": "Sin resultados encontrados",
                    "paginate": {
                        "first": "Primero",
                        "last": "Ultimo",
                        "next": "Siguiente",
                        "previous": "Anterior"
                    }
                },
                dom: "Bfrtip",
                buttons: [
                    {
                        extend: 'csv',
                        className: 'bg-info border-0 text-white',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'pdf',
                        className: 'bg-danger border-0 text-white',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5]
                        }
                    },
                    {
                        extend: 'excel',
                        className: 'bg-success border-0 text-white',
                        exportOptions: {
                            columns: [1, 2, 3, 4, 5]
                        }
                    }
                ],
                columnDefs: [
                    {
                        target: 5,
                        orderable: false,
                        searchable: false
                    }
                ]
            })
        })
    </script>

    <!-- funcion para mostar los alert -->
    <script>
        function showToast(message, gradientColors) {
            Toastify({
                text: message,
                duration: 3000,
                newWindow: true,
                close: true,
                gravity: "top",
                position: "right",
                stopOnFocus: true,
                style: {
                    background: "linear-gradient(to right, " + gradientColors + ")"
                }
            }).showToast();
        }
    </script>

    @if (TempData["addSale"] != null)
    {
        <script>
            showToast("Se registro la venta correctamente", "#6ED725, #274412");
        </script>
    }
}

