@model HardwareStore.Models.Category

@{
    ViewData["Title"] = "Delete";
    ViewData["TitlePage"] = "Eliminar Categoria";
}

<section class="bg-white py-3 px-4 container rounded-2" style="max-width:800px;">
    <h3>¿Está seguro de eliminar esta categoria?</h3>
    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CategoryName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CategoryName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>

        <form asp-action="Delete">
            <button type="submit" class="btn btn-danger">Eliminar <i class="lni lni-trash-can"></i></button>
            <a class="btn btn-primary" asp-action="Index">Volver a la lista <i class="lni lni-arrow-left"></i></a>
        </form>
    </div>

</section>

